ConsumindoWS/Web References/WsReinfProd/RecepcaoLoteReinf.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://sped.fazenda.gov.br/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecepcaoLoteReinf" targetNamespace="http://sped.fazenda.gov.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy Id="WsReceberLoteEventos_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="true" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://sped.fazenda.gov.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ReceberLoteEventos">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="loteEventos">
              <xs:complexType mixed="true">
                <xs:sequence>
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ReceberLoteEventosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ReceberLoteEventosResult">
              <xs:complexType mixed="true">
                <xs:sequence>
                  <xs:any />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="RecepcaoLoteReinf_ReceberLoteEventos_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceberLoteEventos" />
  </wsdl:message>
  <wsdl:message name="RecepcaoLoteReinf_ReceberLoteEventos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceberLoteEventosResponse" />
  </wsdl:message>
  <wsdl:portType name="RecepcaoLoteReinf">
    <wsdl:operation name="ReceberLoteEventos">
      <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/RecepcaoLoteReinf/ReceberLoteEventos" message="tns:RecepcaoLoteReinf_ReceberLoteEventos_InputMessage" />
      <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/RecepcaoLoteReinf/ReceberLoteEventosResponse" message="tns:RecepcaoLoteReinf_ReceberLoteEventos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_RecepcaoLoteReinf" type="tns:RecepcaoLoteReinf">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#WsReceberLoteEventos_policy" />
    <wsdl:operation name="ReceberLoteEventos">
      <soap:operation soapAction="http://sped.fazenda.gov.br/RecepcaoLoteReinf/ReceberLoteEventos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecepcaoLoteReinf">
    <wsdl:port name="BasicHttpBinding_RecepcaoLoteReinf" binding="tns:BasicHttpBinding_RecepcaoLoteReinf">
      <soap:address location="https://reinf.receita.fazenda.gov.br/WsREINF/RecepcaoLoteReinf.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>